body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

.login-container {
    text-align: center;
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.banner h1 {
    color: #104782;
    margin-bottom: 20px;
}

.login-button button {
    background-color: #4285f4;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover {
    background-color: #357ae8;
}

.btn-login {
    background-color: #104782;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-login:hover {
    background-color: #0f3967;
}

@media (max-width: 768px) {
    .login-container {
        width: 90%;
    }
}
