@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif; /* Modern and clean font */
    background-color: #f4f4f4;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px; /* Rounded corners for the container */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

h1.text-center {
    color: #333;
    margin-bottom: 1em;
    text-align: center;
}

h1.text-center a {
    color: #007bff; /* Soft blue for links */
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

h1.text-center a:hover {
    color: #0056b3; /* Darker blue on hover */
}

.table {
    background-color: #fff;
    border-radius: 8px; /* Rounded corners for the table */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    border-collapse: separate; /* Necessary for rounded corners */
    border-spacing: 0;
}

.table thead {
    background-color: #007bff;
    color: #fff;
    border-top-left-radius: 8px; /* Rounded top corners */
    border-top-right-radius: 8px;
}

.table thead th {
    padding: 15px;
}

.table tbody td {
    padding: 12px;
    color: #555;
    vertical-align: middle;
}

/* Row Coloring Based on Urgency */
.table tbody tr[data-urgency="High"] {
    background-color: #f8d7da; /* Light red for high urgency */
}

.table tbody tr[data-urgency="Medium"] {
    background-color: #fff3cd; /* Light yellow for medium urgency */
}

.table tbody tr[data-urgency="Low"] {
    background-color: #d4edda; /* Light green for low urgency */
}

.table-hover tbody tr:hover {
    background-color: #f2f2f2;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .container {
        width: 95%;
        margin: 10px auto;
        padding: 10px;
    }

    .table thead th, .table tbody td {
        padding: 8px;
    }
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000; /* Ensures the button is above other elements */
}

#backBtn {
    background-color: #007bff; /* Blue background */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none; /* Removes underline from text */
}

#backBtn:hover {
    background-color: #0056b3; /* Darker blue on hover */
}