<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Task Details</title>
    <link rel="icon" href="/static/images/todoicon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/gettask.css">
</head>
<body>
    <div class="container mt-5">
        <a href="/tasks" class="task-details-link">
            <h1 class="text-center mb-4">Task Details</h1>
        </a>
        <div class="task-details">
            <p class="task-item"><strong>Task:</strong> {{.Task.Task}}</p>
            <p class="task-item"><strong>Urgency:</strong> {{.Task.Urgency}}</p>
            <p class="task-item"><strong>Hours:</strong> {{.Task.Hours}}</p>
            <p class="task-completed">
                {{if .Task.Completed}}Completed ✓{{else}}Not Completed ✗{{end}}
            </p>            
            <form action="/completeTask" id="completeThisTask" method="post" class="task-completed"
                {{if .Completed}}style="display: none;"{{end}}>
                <button type="submit" class="btn btn-success btn-block">Complete Task</button>
            </form>
            <form action="/addTaskNote/{{.Task.ID}}" method="post">
                <div class="mb-3">
                    <label for="taskNote" class="form-label">Add Note</label>
                    <textarea class="form-control" id="taskNote" name="taskNote" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Add Note</button>
            </form>
    
            <!-- Section to display notes -->
            <div class="task-notes mt-4">
                <h3>Task Notes</h3>
                {{range .Notes}}
                    <div class="note">{{.}}</div>
                {{end}}
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/static/js/taskscript.js"></script>
</body>
</html>
