<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Task Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/gettask.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Task Details</h1>
        <div class="task-details">
            <p class="task-item"><strong>Task:</strong> {{.Task}}</p>
            <p class="task-item"><strong>Urgency:</strong> {{.Urgency}}</p>
            <p class="task-item"><strong>Hours:</strong> {{.Hours}}</p>
            <p class="task-completed">
                {{if .Completed}}Completed ✓{{else}}Not Completed ✗{{end}}
            </p>
            <form action="/completeTask" id="completeThisTask" method="post" class="task-completed"
                {{if .Completed}}style="display: none;"{{end}}>
                <button type="submit" class="btn btn-success btn-block">Complete Task</button>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="/static/js/taskscript.js"></script>
</body>
</html>
