<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>To Do List</title>
    <link rel="icon" href="/static/images/todoicon.png">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1 class="text-center">To Do List</h1>
        <div class="task-forms">
            <form action="/tasks" method="get" class="view-tasks">
                <button type="submit" class="btn btn-primary btn-block">View Tasks</button>
            </form>
            <form id="completed" action="/completed" method="get" class="complete-task">
                <label for="completed">Complete & Delete a Task:</label>
                <input type="text" name="id" id="completedId" placeholder="ID" class="form-control">
                <button type="submit" class="btn btn-success">Complete Task</button>
            </form>

            <form id="showCompleted" action="/completed" method="get">
                <button type="submit" class="btn btn-complete btn-block">Show Completed Tasks</button>
            </form>
            <form id="addTask" action="/tasks" method="post" class="add-task">
                <label for="task">New Task:</label>
                <input type="text" id="task" name="task" class="form-control" />
                <label for="hours">Hours to Complete:</label>
                <input type="number" id="hours" name="hours" min="0" max="100" step="0.1" class="form-control">
                <label for="urgency">Urgency:</label>
                <select id="urgency" name="urgency" class="form-control form-control-select" style="margin-bottom: 10px;">
                    <option value="High">High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low">Low</option>
                </select>
                <input type="submit" value="Submit" class="btn btn-primary" />
            </form>
            <form action="/logout" method="get" class="logout">
                <button type="submit" class="btn btn-danger btn-block">Logout</button>
            </form>
        </div>
    </div>

    <script type="text/javascript" src="/static/js/indexscripts.js"></script>
    <script type="text/javascript" src="/static/js/addtask.js"></script>
</body>
</html>
