<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login - To-Do List</title>
    <link rel="icon" href="/static/images/todoicon.png">
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    <div class="login-container">
        <div class="banner">
            <h1>Welcome to Your To-Do List</h1>
        </div>
        <div class="login-button">
            <a href="/auth/google" class="btn-login">
                <img src="/static/images/google-icon.png" alt="G" style="height: 20px; vertical-align: middle;"> Login with Google
            </a>
        </div>
    </div>
    <script type="text/javascript" src="https://js-cdn.dynatrace.com/jstag/188d956ec0f/bf85532lvq/ac74d27434ca0299_complete.js" crossorigin="anonymous"></script>
</body>
</html>
