<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Task List</title>
    <link rel="icon" href="/static/images/todoicon.png">
    <link rel="stylesheet" href="/static/css/tasklist.css">
</head>
<body>
    <div class="back-button">
        <a href="/home"><button id="backBtn">Back</button></a>
    </div>  
    <div class="container mt-5">
        <h1 class="text-center mb-4"><a href="/home" style="text-decoration:none; color: #104782;">Task List</a></h1>
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <!-- <th>ID</th> -->
                    <th>Task</th>
                    <th>Urgency</th>
                    <th>Hours</th>
                    <th>Completed</th>
                </tr>
            </thead>
            <tbody>
                {{range .}}
                    <tr class="task-row" data-id="{{.ID}}" data-urgency="{{.Urgency}}">
                        <td>{{.Task}}</td>
                        <td>{{.Urgency}}</td>
                        <td>{{.Hours}}</td>
                        <td>{{if .Completed}}Yes{{else}}No{{end}}</td>
                    </tr>
                {{end}}
            </tbody>        
        </table>
    </div>
    <script type="text/javascript" src="/static/js/tasks.js"></script>
    <script type="text/javascript" src="https://js-cdn.dynatrace.com/jstag/188d956ec0f/bf85532lvq/ac74d27434ca0299_complete.js" crossorigin="anonymous"></script>
</body>
</html>